* {
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

button {
    border: 1px;
    text-align: center;
    padding: 15px;
    text-decoration: underline;
    border-radius: 5px;
}

h1 {
    color: Black;
    font-family: monospace;
    top: 0px;
}

.container {
    transform: translateY(-100vh);
    position: relative;
    transition: transform linear 0.4s;
}

.container .slide-detail {
    opacity: 0;
    transition: opacity linear 1s;
}

.container.is-top {
    transform: translateY(0);
}

.container.is-top .slide-detail {
    opacity: 1;
}

.slide-content {
    background-color: whitesmoke;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel, .carousel-cell {
    height: calc(100vh * 2);
    width: 100vw;
}

.button {
    background-color: whitesmoke;
    color: black;
    font-size: 24px;
    z-index: 99;
    top: 45%;
}

.button-down {
    top: 93%;
    position: absolute;
}

.button-down:hover {
    text-decoration: black;
}

.button-see-more {
    top: 3%;
    position: absolute;
}

.show-details {
    transform: translateY(0);
}

/* Override flickity default values */

/* change flickity fullscreen layout */

.caption {
    position: absolute;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px;
    z-index: 99;
    top: 93%;
    background-color: whitesmoke;
}

iframe {
    height: 80vh;
    width: 100vw;
    border: 0;
}

.slide-detail {
    background: whitesmoke;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-detail {
    position: absolute;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px;
    z-index: 99;
    top: 7%;
    background-color: whitesmoke;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}

.button-see-more:hover {
    text-decoration: black;
}

.flickity-button, .flickity-button:hover {
    background-color: transparent;
}

.flickity-prev-next-button {
    top: 75%;
}

.img-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    overflow-y: scroll;
}

.img-wrapper>img {
    width: 100%;
}

.flickity-enabled.is-fullscreen .flickity-page-dots .dot {
    background: transparent;
}