* {
    font-family: monospace;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

button {
    border: 1px;
    border: black;
    position: absolute;
    text-align: center;
    padding: 15px;
    text-decoration: underline;
}

h1 {
    color: Black;
    font-family: monospace;
    top: 0px;
}

.container {
    transform: translateY(-100vh);
    position: relative;
    transition: transform linear 0.4s;
}

.container.is-top {
    transform: translateY(0);
}

.slide-detail {
    background: whitesmoke;
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    text-align: center;
    overflow-y: auto;
    position: relative;
}

.slide-content {
    background-color: whitesmoke;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.carousel, .carousel-cell {
    height: calc(100vh * 2);
    width: 100vw;
}

.carousel-cell>img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    /* object-fit: cover; Falls die Künstlerin will, dass das bild covered*/
}

.button {
    background-color: whitesmoke;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
}

.show-details {
    transform: translateY(0);
}

/* Override flickity default values */

.flickity-prev-next-button {
    top: 75%;
}

/* change flickity fullscreen layout */

.button-down {
    bottom: 10px;
    left: 1150px;
    font-size: 18px;
    text-align: center;
}

.button-see-more {
    left: 1150px;
    font-size: 18px;
    text-align: center;
}

.flickity-button {
    background-color: whitesmoke;
}

.caption {
    font-size: 18px;
    font-family: monospace;
    position: absolute;
    left: 1225px;
    text-align: center;
    top: 1300px;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: auto;
}

iframe {
    height: 100vh;
    width: 100vw;
}

.img {
    display: block;
    /* position: relative;
    margin-left: auto;
    margin-right: auto; */
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*vh=9*/
}