* {
    font-family: 'Anonymous Pro', monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Index page list, listing both projects */

.list {
    padding: 20px;
}

.list li {
    list-style: none;
}

button {
    border: 1px;
    text-align: center;
    text-decoration: underline;
}

h1 {
    color: Black;
    font-family: monospace;
    top: 0px;
}

.container {
    transform: translateY(-100vh);
    position: relative;
    transition: transform linear 0.4s;
}

.container .slide-detail {
    opacity: 0;
    transition: opacity linear 1s;
}

.container.is-top {
    transform: translateY(0);
}

.container.is-top .slide-detail {
    opacity: 1;
}

.slide-content {
    background-color: #F1F1F1;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel, .carousel-cell {
    height: calc(100vh * 2);
    width: 100vw;
}

.button {
    background-color: #F1F1F1;
    color: black;
    z-index: 99;
}

.button-down {
    bottom: 50px;
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    position: absolute;
    /* wrapper with pointer-events: none; to allow scrolling in container underneath */
    pointer-events: all;
}

.button-down:hover {
    text-decoration: black;
}

.button-see-more {
    top: 20px;
    position: absolute;
    background-color: transparent;
}

.button-transparent{
    background-color: transparent;
}

.show-details {
    transform: translateY(0);
}

/* Override flickity default values */

/* change flickity fullscreen layout */

.caption {
    position: absolute;
    z-index: 99;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    /* background-color: #F1F1F1; */
}

.caption, .caption-detail, .button {
    /* padding css shorthand: https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties */
    padding: 13px 20px;
    text-align: center;
}

iframe {
    height: 80vh;
    width: 100vw;
    border: 0;
    /* for debugging videos locally */
    /* background-color: black; */
}

.slide-detail {
    background: #F1F1F1;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.video {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    top: 0;
    position: absolute;
}

.controls-wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.caption-detail {
    position: absolute;
    z-index: 99;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F1F1F1;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
    overflow: auto;
}

.detail-img {
    display: block;
    width: 100%;
}

.button-see-more:hover {
    text-decoration: black;
}

.flickity-button, .flickity-button:hover {
    background-color: transparent;
}

.flickity-prev-next-button {
    top: 75%;
}

.img-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    overflow-y: scroll;
}

.img-wrapper>img {
    width: 100%;
}

.flickity-enabled.is-fullscreen .flickity-page-dots .dot {
    background: transparent;
}
.caption-transparent {
    background-color: transparent;
}